.split-content__panels-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.split-content__stage {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  /* width: 100%;
  height: 100%; */
}

.split-content__main-container {
  position: relative;
  display: flex;
  width: 100%;
}

@media (max-width: 991px) {
  .split-content__panels-container {
    flex-direction: column;
  }
}
