@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --main-green-color: #2d8686;
  --border-green: rgba(151, 229, 203, 1);
  --white-color: #fff;
  --background-green-primary: rgba(227, 248, 241, 1);
  --background-green-secondary: rgba(6, 128, 141, 1);
  --text-blue: #004164;
  --text-dark: rgba(40, 70, 91, 0.749019607843137);
  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body {
  font-family: "Roboto Bold", "Roboto Regular", "Roboto";
}

p {
  margin: 0;
}
